<div class="container">

  <nav class="p-2 m-2 border border-info">
    <button class="btn btn-outline-info ms-1 me-1 mt-2" *ngIf="authService.hasRole('ADMIN')" (click)="handleNewProduct()">New Product</button>
  </nav>

  <ng-template #errors>
    <div class="text-danger">{{ errorMessage }}</div>
  </ng-template>

  <div class="card" *ngIf="products; else errors">
    <div class="card-header">Products List</div>
    <div class="card-body">
      <form [formGroup]="searchFormGroup" (ngSubmit)="handleSearchProducts()">
        <div class="input-group mb-3">
          <input
            formControlName="keyword"
            type="text"
            class="form-control"
            placeholder="Search..."
            aria-label="Search..."
            aria-describedby="basic-addon2"
          />
          <button class="input-group-text btn btn-outline-secondary" id="basic-addon2"
            ><i class="bi bi-search"></i
          ></button>
        </div>
      </form>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Promotion</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.price }}</td>
            <td >
              <i *ngIf="product.promotion" class="bi bi-tags-fill"></i>
            </td>
            <td *ngIf="authService.hasRole('ADMIN')">
              <button (click)="handleSetPromotion(product)" [ngClass]="product.promotion? 'btn-success' : 'btn-danger'" class="btn">
                <span *ngIf="product.promotion">Promo Off</span>
                <span *ngIf="!product.promotion">Promo On</span>
              </button>
            </td>
            <td *ngIf="authService.hasRole('ADMIN')">
              <button
                (click)="handleDeleteProduct(product)"
                class="btn btn-danger"
              >
                <i class="bi bi-trash"></i>
              </button>
            </td>
            <td *ngIf="authService.hasRole('ADMIN')">
              <button
                (click)="handleEditProduct(product)"
                class="btn btn-success"
              >
              <i class="bi bi-pencil-square"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <ul class="nav nav-pills">
        <li *ngFor="let item of [].constructor(this.products.length); let i = index">
          <a (click)="goToPage(i)" [ngClass]="i === currentPage ? 'active' : ''" class="btn btn-outline-info ms-1 me-1 mt-2" > {{ i + 1 }}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
